In [1]:
import pandas as pd
import json
import matplotlib

dir = 'datasets_20y'

In [2]:
with open(f'{dir}/HP60.json', 'r') as file:
    data_HP60 = json.load(file)
print(data_HP60['meta'])
for i in data_HP60:
    print(i)

with open(f'{dir}/kp.json') as file:
    data_kp = json.load(file)
print(data_kp['datetime'][3])

{'source': 'GFZ Potsdam', 'license': 'CC BY 4.0'}
meta
datetime
Hp60
2004-01-01T09:00:00Z

In [3]:
with open(f'{dir}/VAL.txt') as file:
    lines = file.readlines()

data_SN = {'datetime': [], 'SN': []}
for line in lines:
    data_SN['datetime'].append(line[:10].replace(' ','-'))
    data_SN['SN'].append(line[135:138])

with open(f'{dir}/SN.json', 'w') as file:
    json.dump(data_SN, file)

In [8]:
doc = {
    'datatime': [],
    'Kp': [],
    'SN': [],
    'Hp60': []
}

df_data = []

for i, timestamp in enumerate(data_HP60['datetime']):
    doc['datatime'].append(timestamp)
    doc['Kp'].append(data_kp['Kp'][i//3])
    doc['SN'].append(data_SN['SN'][i//24])
    doc['Hp60'].append(data_HP60['Hp60'][i])
    
    df_data.append({
        'datatime': timestamp,
        'Kp': data_kp['Kp'][i//3],
        'SN': data_SN['SN'][i//24],
        'Hp60': data_HP60['Hp60'][i]
    })
    
print(len(doc['datatime']))
df = pd.DataFrame(df_data)    
df.head()

184104

               datatime     Kp   SN   Hp60
0  2004-01-01T00:00:00Z  3.333   52  3.000
1  2004-01-01T01:00:00Z  3.333   52  4.333
2  2004-01-01T02:00:00Z  3.333   52  3.667
3  2004-01-01T03:00:00Z  3.667   52  3.333
4  2004-01-01T04:00:00Z  3.667   52  3.333

In [9]:
df.head()
df.to_csv(f'{dir}/dataset.csv', index= False)