In [3]:
## Instruction
# 1) All files must be in the same folder 'dir'
# 2) Required files must be named as followed
#    > kp file: 'kp.json'
#    > Hp60 file: 'Hp60.json'
#    > Sunspots file: 'VAL.txt'

In [4]:
import pandas as pd
import json
import matplotlib

dir = 'dataset_test'

In [5]:
with open(f'{dir}/Hp60.json', 'r') as file:
    data_HP60 = json.load(file)
print(data_HP60['meta'])
for i in data_HP60:
    print(i)

with open(f'{dir}/kp.json') as file:
    data_kp = json.load(file)
print(data_kp['datetime'][3])

{'source': 'GFZ Potsdam', 'license': 'CC BY 4.0'}
meta
datetime
Hp60
2025-01-01T09:00:00Z

In [6]:
with open(f'{dir}/VAL.txt') as file:
    lines = file.readlines()

data_SN = {'datetime': [], 'SN': []}
for line in lines:
    data_SN['datetime'].append(line[:10].replace(' ','-'))
    data_SN['SN'].append(line[135:138])

with open(f'{dir}/SN.json', 'w') as file:
    json.dump(data_SN, file)

In [9]:
doc = {
    'datatime': [],
    'Kp': [],
    'SN': [],
    'Hp60': []
}

df_data = []

for i, timestamp in enumerate(data_HP60['datetime']):
    doc['datatime'].append(timestamp)
    doc['Kp'].append(data_kp['Kp'][i//3])
    doc['SN'].append(data_SN['SN'][i//24])
    doc['Hp60'].append(data_HP60['Hp60'][i])
    
    df_data.append({
        'datatime': timestamp,
        'Kp': data_kp['Kp'][i//3],
        'SN': data_SN['SN'][i//24],
        'Hp60': data_HP60['Hp60'][i]
    })
    
print(f"number of timestamps: {len(doc['datatime'])}")
df = pd.DataFrame(df_data)    
df.head()

number of timestamps: 48

               datatime     Kp   SN   Hp60
0  2025-01-01T00:00:00Z  4.000  204  3.667
1  2025-01-01T01:00:00Z  4.000  204  3.000
2  2025-01-01T02:00:00Z  4.000  204  4.667
3  2025-01-01T03:00:00Z  5.333  204  4.667
4  2025-01-01T04:00:00Z  5.333  204  6.000

In [8]:
df.head()
df.to_csv(f'{dir}/dataset.csv', index= False)